<extends src="app.html">

  <block name='styles'>
    <link rel="stylesheet" href="../assets/scss/test.scss">
  </block>

  <block name="content">

    <div class="dog-bg" style="background-image: url(../assets/images/placeholders/dog.jpg);" alt="dog"></div>

    <div class="dog-image"><img class="img-responsive" src="../assets/images/placeholders/dog.jpg"></div>
    
    <div><a href="/index">index page</a></div>

  </block>


  <block name='scripts'>
    <script src="../assets/js/test.js"></script>
  </block>

</extends>
